body {
  text-align: center;
  text-decoration: none;
}

.memory_game {
  font-family: "Raleway", sans-serif;
  color: #0d2c40;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  text-transform: uppercase;
}

.instructions_game {
  font-family: "Raleway", sans-serif;
  color: #f15b31;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.instructions {
  font-family: "Raleway", sans-serif;
  color: #0d2c40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-family: "Droid Serif", sans-serif;
  line-height: 26px;
  font-size: 18px;
}
